<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Lupa Password</title>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1>Lupa Password 😟</h1>
            <p>Jangan khawatir! Kami akan mengembalikan akun Anda.</p>
            <input type="email" placeholder="Masukkan email Anda" required>
            <button type="submit">Kirim Link Reset Password</button>
            <p><a href="#">Kembali ke Sign up</a></p>
        </div>
        <div class="image-container">
            <img src="gorden.jpg" alt="Interior" />
        </div>
    </div>
</body>
</html>