/* Import font */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.kotak {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 320px;
}

h2 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}

p {
    color: gray;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 300;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
}

.pasbaru {
    background: #1c2938;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
}

.pasbaru:hover {
    background: #101921;
}

.link {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
    font-weight: 400;
}

.link:hover {
    text-decoration: underline;
}
